<!--
We use Bootstrap (http://getbootstrap.com) for our base layout and styles.
Please reference the Bootstrap documentation for best practices.
-->

<html>
  <head>
    <title>Invoice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
      /* Add any custom styles here, for example: */
      body {
        font-size: 14px; /* Adjust this value to make the font size bigger or smaller */
      }
      header {
        margin-bottom: 40px;
      }
      header img {
        max-height: 120px;
      }
      #document-info {
        margin-bottom: 40px;
      }
      #charge-table {
        margin-bottom: 40px;
      }
      .document-terms {
        margin-bottom: 20px;
      }
    </style>

  </head>

  <body>
    <div class="container">

      <header>
        <div class="row">
          <div class="col-xs-6">
            <h1>Invoice #{{job.job_number}}</h1>
          </div>
          <div class="col-xs-6 text-right">
            {{ account.logo }}
          </div>
        </div><!-- .row -->
      </header>

      <div class="row" id="document-info">
        <div class="col-xs-4">
          <address>
            <strong>{{ customer.billing_name }}</strong>
            <br>
            {{ customer.billing_address }}
            <br>
            {{ customer.billing_city }}, {{ customer.billing_state }} {{ customer.billing_zip_code }}
            <br>
            {{ customer.billing_country }}
          </address>

          {% if customer.email_address %}
            <div>{{ customer.billing_email_address }}</div>
          {% endif %}

          {% if customer.phone_number %}
            <div>{{ customer.billing_phone_number }}</div>
          {% endif %}

          {% if customer.billing_primary_contact %}
            <div id="primary_contact_details">
              <strong>Primary Contact:</strong>
              <div>{{ customer.billing_primary_contact.name }}</div>
              <div>{{ customer.billing_primary_contact.phone1 }}</div>
            </div>
          {% endif %}
        </div><!-- .col-xs-4 -->

        <div class="col-xs-4">
          <address>
            <strong>{{ account.company_name }}</strong>
            <br>
            {{ account.account_details.billing_address }}
            <br>
            {{ account.account_details.billing_city }}, {{ account.account_details.billing_state }} {{ account.account_details.billing_zip_code }}
            <br>
            {{ account.account_details.billing_country }}
          </address>

          {% if account.account_details.billing_phone_number %}
            <div>{{ account.account_details.billing_phone_number }}</div>
          {% endif %}
        </div><!-- .col-xs-4 -->

        <div class="col-xs-4">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <strong>Invoice</strong>
                </td>
                <td class="text-right">
                  {{ job.job_number }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Date</strong>
                </td>
                <td class="text-right">
                  {% if job.scheduled_on %}
                    {{ job.scheduled_on | date: "%m/%d/%y" }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td class="text-right">
                  {{ job.total | currency }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Payments</strong>
                </td>
                <td class="text-right">
                  {{ job.total_applied_payments | currency }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Balance Remaining</strong>
                </td>
                <td class="text-right">
                  {{ job.balance | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- .col-xs-4 -->
      </div><!-- .row -->

      <h2>Charges</h2>
      <table class="table table-bordered" id="charge-table">
        <thead>
          <tr>
            <th class="text-left">Item</th>
            <th class="text-left">Description</th>
            <th class="text-right">Price</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan=4 class="text-right">Subtotal</td>
            <td class="text-right">{{ job.subtotal | currency }}</td>
          </tr>
          <tr>
            <td colspan=4 class="text-right">Tax</td>
            <td class="text-right">{{ job.tax | currency }}</td>
          </tr>
          <tr>
            <td colspan=4 class="text-right">
              <strong>Total</strong>
            </td>
            <td class="text-right">
              <strong>{{ job.total | currency }}</strong>
            </td>
          </tr>
          <tr>
            <td colspan=4 class="text-right">Payments</td>
            <td class="text-right">{{ job.total_applied_payments | currency }}</td>
          </tr>
          <tr>
            <td colspan=4 class="text-right">Balance Remaining</td>
            <td class="text-right">{{ job.balance | currency }}</td>
          </tr>
        </tfoot>
        <tbody>
          {% for charge in job.job_charges %} <!-- Loop through each job charge -->
            <tr>
              <td>
                {% if charge.item %}
                  {{ charge.item.name }}
                {% endif %}
              </td>
              <td>
                {% if charge.details %}
                  {{ charge.details | h}}
                {% elsif charge.description %}
                  {{ charge.description | h }}
                {% endif %}
              </td>
              <td class="text-right">
                {{ charge.price_per_unit | currency }}
              </td>
              <td class="text-right">{{ charge.quantity }}</td>
              <td class="text-right">
                {{ charge.total | currency }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if job.invoice_terms != empty %}
        <div id="terms">
          <h3>Terms</h3>
          <div class="document-terms">
            {{ job.invoice_terms | h }}
          </div>
        </div>
      {% endif %}

      {% if job.invoice_notes != empty %}
        <div id="notes">
          <h3>Notes</h3>
          <div class="document-notes">
            {{ job.invoice_notes | h }}
          </div>
        </div>
      {% endif %}

    </div><!-- .container -->
  </body>
</html>
